body {
    margin: 0;
    padding: 0;
}

div {
    padding: 0 0 15px 30px;
}

div:nth-child(2n) {
    background-color: #f9ff90;
}

p {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}